{% extends 'app/base.html.twig' %}
{% block body %}
    {% spaceless %}
        <div class="homepageWrapper">
            <header>
            </header>
            <p>Welcome {{user.username}}</p>
        </div>
    {% endspaceless %}
{% endblock %}