{% extends 'app/base.html.twig' %}
{% block body %}
    {% spaceless %}
        <div class="homepageWrapper">
            <header>
                <ul class="admin_log">
                    <li data-urlVal="dialogue">Log in</li>
                    <li data-urlVal="dialogue">Sign up</li>
                </ul>
            </header>
        </div>
    {% endspaceless %}
{% endblock %}