{% extends 'app/base.html.twig' %}
{% block body %}
    {% spaceless %}
        <div class="homepageWrapper">
            <header>
                <ul class="admin_log">
                    <li data-url_val="dialogue" data-form_action="/app/example/login" data-button_text="Log in" data-title="Connect to your account">Log in</li>
                    <li data-url_val="dialogue" data-form_action="/app/example/login" data-button_text="Sign up" data-title="Sign up for a free account" data-button_sign_up="1">Sign up</li>
                </ul>
            </header>
        </div>
    {% endspaceless %}
{% endblock %}